.demo-calender-app-container {
  display: flex;
  flex-direction: column;
}
.demo-calender-app-days {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  margin: auto;
}
.demo-calender-app-day {
  width: 14%;
  height: 30px;
  background-color: lightgrey;
  border: 1px solid ghostwhite;
  color: black;
  text-align: center;
}
.demo-calender-app-month {
  display: flex;
  flex-direction: column;
}
.demo-calender-app-week {
  display: flex;
  flex-direction: row;
  width: 70%;;
  margin: auto;
}
.demo-calender-app-date {
  width: 14%;
  height: 100px;
  background-color: #f3f3f3;
  border: 1px solid ghostwhite;
  color: black;
}
.demo-calender-app-span {
  float: left;
  font-size: 20px;
  font-weight: 600
}
.demo-calender-app-button {
  float: right;
  font-size: 8px;
  color: black;
  background-color: wheat;
  border: 1px solid wheat;
}
.demo-calender-app-button:hover {
  cursor: pointer;
}
.demo-calender-app-reminders {
  margin: 15px 0;
}

.reminder-popup {
    background:rgba(0,0,0,.4);
    cursor:pointer;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.reminder-popup .helper {
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.reminder-popup > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popup-close-button {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.reminder-popup-label {
  font-size: 30px;
  font-weight: bold;
}
.reminder-popup-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.reminder-popup-input {
  margin-top: 10px;
  width: 70%;
  border-radius: 10px;
  border: 2px solid grey;
  height: 30px;
  text-indent: 10px;
  font-size: 20px;
}
.reminder-popup-button {
  margin-top: 10px;
  width: 20%;
  border-radius: 10px;
  border: 2px solid grey;
  height: 35px;
  background-color: grey;
  color: black;
}
.demo-app-calender-reminder {
  text-align: center;
}